.center{
    text-align: center;
 }
 th{
    padding: 15px;
 }
 td{
    padding: 10px;
 }
 .thead-light{
    color: rgb(229, 242, 247);
    background-color: rgb(255, 255, 255) !important;
 }
 table{
    margin-top: 5%;
 }