.card-controller {
	margin: 1%;
	display: inline-block;
   transition: all ease-in 0.2s;
}

.card-controller:hover {
	box-shadow: 0px 0px 15px 1px rgba(247, 136, 73, 0.75);
	-webkit-box-shadow: 0px 0px 15px 1px rgba(247, 136, 73, 0.75);
	-moz-box-shadow: 0px 0px 15px 1px rgba(247, 136, 73, 0.75);
   transform: scale(1.05);
}

#text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 16px;
	max-height: 42px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}